*{
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.logo-container{
  margin: 30px auto;
  width: fit-content;
}

h1, h4.subtitle {
color: navy;
text-align: center;
}

.travel-container{
  width: 65%;
  margin: auto;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border: 1px solid gray;
}

.img-container{
  width: 40%
}
.img-container img{
  max-width: 100%;
}
h3{
  color: rgb(43, 40, 40);
}

.labels{
  display: flex;
  justify-content: space-between;
}

.deal{
  background-color: rgb(66, 165, 66);
}
.all-inclusive, .premium{
  background-color: rgb(79, 79, 189);
}

.deal, .all-inclusive, .premium, .delete-btn {
  padding: 8px 10px;
  border-radius: 15px;
}

.buttons{
  margin-top: 15px;
  display: flex;
}
.delete-btn{
  background-color: gray;
  
}

 